#companylogo {
  
  margin: auto;
  width: 100%;
  height: auto;
  padding-inline: auto;

}
#dashboard-cards{
  background-color: #e9ebee;
  height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  padding: 20px;
}
.dashboard-card{
height: 100px;
margin: 20px;
border-radius: 8px ;
}
.dark-grey-header {
  background-color: #333;
  color: white;
}
.thead-bg{
  background-color: lightgrey;
  height: 30px;
  
}
#hometablea{
  height: auto;
  width: 100%;
  padding-inline: 40px;
}
#hometableb{
  height: auto;
  width: 100%;
  padding-inline: 40px;
  margin-top: 40px;
}
.tables-heading-padding{
  padding-block: 10px;
}
.vehicle-modal-containers{
  height: 150px;
  width: 100%;
  background-color: #fdfdfa;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding-block: 10px;
  padding-inline: 15px;
}
.btns-container{
  display: flex;
    width: 200px; 
  height: 100px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  justify-content: flex-end;
  margin-top: -40px;
}

@media (max-width: 576px) {
  
.dashboard-card{
  height: 100px;
  margin-block: 8px;
  margin-inline: 3px;
  border-radius: 8px ;
  }

#hometablea{
  padding-inline: 10px;
}
#hometableb{
  padding-inline: 10px;
  margin-top: 10px;
}
}

